@model List<PROJETO01.Modelos.Barbeiro>

@{
    ViewData["Title"] = "Home Page";
}


<div class="row mt-5 ">

    @foreach (var item in Model)
    {
        <div class="card ml-5 mt-3" style="width: 18rem;">
            <img class="card-img-top" src="./img/perfil.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Barbeiro: @item.Nome</h5>
                <p class="card-text">Preço corte: @string.Format("{0:c2}", item.PrecoCorte)</p>
                <p class="card-text">Telefone: @Convert.ToInt64(item.Telefone).ToString(@"(00)00000-0000")</p>
                <a href="/SolicitaCorte/Adicionar" class="btn btn-primary">Solicitar corte</a>
            </div>
        </div>

        
    }
    </div><!-- /.row -->


<style>



    body {
        background: #e6e6e6;
    }
</style>
