

@{
    ViewData["Title"] = "Home Page";
}
    

<div class="row mt-5 ">
     
      
          <div class="col-lg-4" >
            <img class="rounded-circle" src="./img/perfil.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Carlos</h2>
            <p>Preço do corte R$ 25,00</p>
            <p><a class="btn btn-secondary" href="#" role="button">Solicitar corte &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="./img/perfil.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Samuel</h2>
            <p>Preço do corte R$ 35,00</p>
            <p><a class="btn btn-secondary" href="#" role="button">Solicitar corte  &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4 ">
            <img class="rounded-circle" src="./img/perfil.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Fulano</h2>
            <p> Preço do corte R$ 45,00</p>
            <p><a class="btn btn-secondary" href="/Estado/Adicionar" role="button">Solicitar corte  &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          
   </div><!-- /.row -->
 

<style>

    
    
    body{
        background: #e6e6e6;
    }



</style>